*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 0.95rem;
}

a{
    text-decoration: none;
    color:rgb(51, 135, 190)
}
.content{
    padding:0 30px;
    max-width: 1300px;
    margin: 0 auto;
}
#btn-logout{
    background: rgb(212, 71, 102);
    margin: 0 0 0 25px;
    transition:all .1s
}
#btn-logout:hover{
    background: rgb(122, 30, 50);
}
@keyframes animaShow {
    to{
    transform: initial;
        opacity: 1; 
    }
}
@media (max-width:400px){
    .content{
        padding:0 20px;
    }
}